nutanix_username    = "admin"
nutanix_password    = "password"
nutanix_endpoint    = "192.168.0.1"
nutanix_insecure    = "true"
subnet_name         = "demo"
nkp_prism_cluster_name = "prism"
nkp_image_url  = "http://example.com/nkp-rocky-9.4-release-1.29.6-20240816215147.qcow2"
nkp_cli_tarball_url = "http://example.com/nkp_v2.12.0_linux_amd64.tar.gz"
registry_mirror_url = ""
nkp_cluster_name = "nkp-mgmt"
nkp_controlplane_vip = ""
nkp_lb_addresspool = ""
